.grid {
    align-items: stretch;
}

.grid>div {
    display: flex;
}

.grid>div>a {
    flex: 1;
    display: flex;
    text-decoration: none;
}

.grid>div>a>article {
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
}

.card-link {
    text-decoration: none;
    display: block;
}

.card-link:hover article {
    background: var(--link-hover-color);
}

article>div {
    flex: 1;
}